{% extends "base.html" %}

{% block content %}
<h1>{{ title }}</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.job.label }}<br>
        {{ form.job(class="form-control") }}<br>
        {% for error in form.job.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.work_size.label }}<br>
        {{ form.work_size(class="form-control") }}<br>
        {% for error in form.work_size.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.collaborators_list.label }}<br>
        {{ form.collaborators_list(class="form-control") }}<br>
        {% for error in form.collaborators_list.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.start_date.label }}<br>
        {{ form.start_date(class="form-control", type="datetime") }}<br>
        {% for error in form.start_date.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.is_finished() }} {{ form.is_finished.label }}</p>
    <p id="end-date-wrapper" style="display: none">
        {{ form.end_date.label }}<br>
        {{ form.end_date(class="form-control", type="datetime") }}<br>
        {% for error in form.end_date.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    <div>{{message}}</div>
</form>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const checkbox = document.querySelector('#is_finished'); // ID вашего BooleanField
        const wrapper = document.querySelector('#end-date-wrapper');

        function toggleField() {
            wrapper.style.display = checkbox.checked ? 'block' : 'none';
        }

        // Слушаем изменения
        checkbox.addEventListener('change', toggleField);

        // Вызываем при загрузке, если чекбокс уже нажат
        toggleField();
    });
</script>
{% endblock %}